/*Colors
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

/*General Section*/
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    padding-top: 20px;
}
img{
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #F2F1E8;
    width: 1350px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

/*Header*/
#site_header{
    background-color: #FFFFFF;
    /*padding: 10px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Merriweather", serif;
    /*position: fixed;
    width: 100%;*/
    /*overflow-x: scroll;*/
}

#logo{
    /*background-image:url("/Users/jacob/Desktop/Testing/week-one-project:images/bent-creek-logo.png");*/
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    padding-left: 10px;
}
#main_nav{
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
}
#main_nav a{
    /*display: inline;*/
    padding: 12px 18px;
    text-transform:uppercase;
    color: #2B2F26;
    align-items: stretch;
    width: 100px;
}
#main_nav a:hover{
    color: #CD5D67;
}

#main_nav a:active{
    color: #CD5D67;
}
/*Title Page*/
#titlepage{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    line-height: 20px;
    font-family: "Robot", sans-serif;
}

#titlepage h1{
  font-size: 50px;
}

#titlepage h3 {
  font-size: 30px;
  padding-left: 20px;
  font-weight: lighter;
}


/*Product*/
#productlist{
    padding: 20px;
    margin-bottom: 5px;
}
#productlist ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#productlist span{
    font-size: 1.2em;
    background-color: gray;
    align-content: flex-start;
    align-items: center;
}

/*.productone{
  position: absolute;
}*/

/*.productone h2{
  position: absolute;
  color: white;
  z-index: 1;
}*/
#productone{
  height:370px;
  flex-basis: 0%;
  width: 735px;
  z-index: 0;
}

#producttwo{
  height: 370px;
  flex-basis: 0%;
  width: 235px;
}

#productthree{
  height: 370px;
  flex-basis: 0%;
  width: 235px;
}

#productfour{
  height: 240px;
  flex-basis: 0%;
  width: 235px;
}

#productfive{
  height: 240px;
  flex-basis: 0%;
  width: 235px;
}

#productsix{
  height: 240px;
  flex-basis: 0%;
  width: 485px;
}

#productseven{
  height: 240px;
  flex-basis: 0%;
  width: 235px;
}

/*Footer*/
footer{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
#site_footer{
    width: 1300px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-top: 10px;
}

/*Newsletter*/

.otherwrapper{
    width: 1350px;
    background-color: #F2F1E8;
    overflow: hidden;
}

.newswrapper{
    background-image: url("/Users/jacob/Desktop/Testing/week-one-project:images/background-2.jpg");
    background-repeat: no-repeat;
    /*border-radius: 8px;*/
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    /*background-origin: content-box;*/
    position: fixed;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.solicit{
  align-items: center;
  background-color:#FFFFFF;
  flex-basis: 615px;
  height: 380px;
  padding-top: 50px;
  padding-left: 30px;
  margin: 45px;
  font-family: "Merriweather", sans-serif;
  line-height: 30px;
}

.solicit h1{
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  padding-right: 50px;
}

.solicit h3{
  font-size: 20px;
  font-weight: lighter;
}

#button{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 35px;

}

button {
  text-decoration: none;
  color: #F2F1E8;
  background-color: #968772;
  border: none;
  width: 130px;
  height: 55px;
  font-size: 23px;
  align-items: center;
}

#nameinput{
  display: flex;
  padding-right: 30px;
}

label{
  color: #131511;
  padding-right: 10px;
  border-bottom: solid 2px #968772;
  font-weight: lighter;
}

input{
  flex:1;
  margin-right: 20px;
}

#emailinput{
  display:flex;
  padding-top: 25px;
  padding-right: 30px;
}

input{
  border-bottom: solid 2px #968772;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 3px 10px;
  display: flex;
}

/*About*/

.aboutwrapper{
  background-color: #F2F1E8;
  max-width: 1350px;
  /*margin: 0 auto;*/
  overflow: hidden;
  background-image: url("/Users/jacob/Desktop/TIY/HTML/week-one-project/week-one-project:images/background-3.jpg");
  background-position: center center;
  background-attachment: scroll;
  background-size: 1350px 325px;
  background-repeat: no-repeat;
}

.aboutmain{
  display:flex;
  flex-direction:column;
  justify-content: center;
  /*margin: 0 auto;*/
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bold;
}

#birdhouse {
  height: 125px;
  width: 170px;
  float:left;
}

.dark_tan{
  background-color: #968772;
}

table td{
  border: 1px solid black;
  outline-color: black;
  padding: 10px;
}

table th{
  text-align: center;
  border: 1px solid black;
  outline-offset: black;
  font-weight: 300;
}

table{
  border-collapse: collapse;
  /*margin: 0 auto;*/
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: lighter;
}

.clay{
  float:right;
}
#clay_cups{
  height:120px;
  width:165px;
}


#maintwo{
  border-left: 2px solid #968772;
  margin-top: 10px;
}

blockquote{
  font-style: italic;
  float:left;
  font-weight: lighter;
  line-height: 10px
}

#mainfour{
  display: block;
  justify-content: flex-end;
  flex-direction: column;
}

figure{
  float: right;
}

figcaption{
  border: 1px transparent;
  width:165px;
}

#inlinelink{
  color:#968772;
}

#inlinelink:hover{
  color:#967343;
}

#artist{
  font-size: 50px;
  text-align: center;
}

#mainmiddle h1{
  text-align: center;
  color:#F2F1E8;

}

#mainmiddle{
  padding-top: 50px;
  padding-bottom: 200px;
}
